input[type='text'] {
  background: #f3f4f4;
  border-radius: 9px;
  border: none;
  width: 200px;
  padding: 10px;
  text-align: center;
  color: #9e9ea7;
}

input::placeholder {
  color: #9e9ea7;
  opacity: 1;
}

button.clear {
  background: none;
  border: none;
  padding: 0;
  position: absolute;
  margin-top: 12px;
  margin-left: -23px;
}

button:hover {
  cursor: pointer;
}
