.search-field {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.search-field input {
  height: 20px;
}

.collection-list {
  list-style-type: none;
  padding: 0;
}

.collection-list label {
  display: inline;
  margin: 0;
}

.collection-list input {
  width: auto;
}

.welcoming h1 {
  text-align: center;
}
