.search-field {
  text-align: center;
}

.collection-list {
  list-style-type: none;
  padding: 0;
}

.collection-list label {
  display: inline;
  margin: 0;
}

.collection-list input {
  width: auto;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
