.home {
  text-align: center;
  display: flex;
  align-items: center;
  min-height: 100vh;
  min-width: 98vw;
}

.home > main {
  padding: 4rem;
}

.hero {
  min-width: 40vw;
  min-height: 100vh;
  background-image: linear-gradient(
    205.21deg,
    #76dd78 0.82%,
    rgba(118, 221, 120, 0) 112.11%
  );
  mask-image: url(/src/assets/hero.svg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero > img {
  width: 75%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .home {
    background-image: linear-gradient(
      205.21deg,
      #76dd78 0.82%,
      rgba(118, 221, 120, 0) 112.11%
    );
    justify-content: center;
  }
  .hero {
    display: none;
  }

  .home input.text-field {
    background: #fff;
  }
}
