.green-bg {
  background: linear-gradient(
    128.9deg,
    #76dd78 -18.28%,
    rgba(118, 221, 120, 0.15) 63.69%
  );
  min-height: 100vh;
}

.wrapper {
  background: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.17);
  border-radius: 50px;
  max-width: 600px;
  width: 50%;
  min-height: 80vh;
  margin: 0 auto;
  padding: 4% min(4%, 40px);
}

@media only screen and (max-width: 992px) {
  .wrapper {
    width: 65%;
  }
}

@media only screen and (max-width: 768px) {
  .green-bg {
    background: #fff;
  }
  .wrapper {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }
}

/* iPad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .green-bg {
    background: linear-gradient(
      128.9deg,
      #76dd78 -18.28%,
      rgba(118, 221, 120, 0.15) 63.69%
    );
  }
  .wrapper {
    width: 65%;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.17);
    border-radius: 50px;
    min-height: 70vh;
  }
}
