.bold {
  font-weight: bold;
  margin-left: 30px;
}

.header {
  position: sticky;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.footer {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
  padding: 2rem;
}

.footer > a {
  padding: 1rem;
}

label {
  display: block;
  margin: 15px;
}

.collection-list {
  list-style-type: none;
}

.collection-list label {
  display: inline;
  margin: 0;
}

.collection-list input {
  width: auto;
}

.delete-button {
  color: red;
  padding: 2px;
  margin: 10px;
}

input[type='radio'] {
  display: none;
}

.not-soon-box {
  width: 100px;
  height: 81px;
  background: rgba(248, 231, 221, 0.5);
  border-radius: 14px;
  text-align: center;
}

.soon-box {
  width: 100px;
  height: 81px;
  background: rgba(222, 244, 221, 0.5);
  border-radius: 14px;
  text-align: center;
}

.kind-of-soon-box {
  width: 100px;
  height: 81px;
  background: #fafadf;
  border-radius: 14px;
  text-align: center;
}

.how-soon-div {
  display: flex;
}
